<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_KEY</key>
	<string>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</string>
</dict>
</plist>
